@font-face {
  font-display: block;
  font-family: "Material Icons";
  font-style: normal;
  font-weight: 400;
  src: url(fonts/material-icons.woff2) format("woff2");
}

i {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: inherit;
  vertical-align: top;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;
}

button i,
.button i {
  font-size: 24px;
}

.icon {
  max-width: 12px;
}

i.medium {
  font-size: 28px;
}

.icon.medium {
  max-width: 20px;
}

p i,
p .icon {
  vertical-align: text-bottom;
}
