@import "icons.scss";

// # Variables
:root {
  --root-size: 16px;

  --size-xs: 0.25rem;
  --size-s: 1rem;
  --size-m: 2rem;
  --size-l: 4rem;

  --z-low: 10;
  --z-mid: 50;
  --z-high: 100;

  --max-width: 50rem;

  --line-size: 1px;
  --line-size-thick: var(--size-xs);
  --line-color: black; //rgba(0, 0, 0, 1);

  --color-warning-fg: black;
  --color-warning-bg: #ff9800;
}

// # Mixins
@mixin border-box {
  box-sizing: border-box;
}

@mixin elevation-low {
  box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.3);
}

@mixin elevation-mid {
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.3);
}

@mixin elevation-high {
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
}

@mixin border {
  border: var(--line-size) solid var(--line-color);
}
@mixin border-top {
  border-top: var(--line-size) solid var(--line-color);
}

@mixin border-bottom {
  border-bottom: var(--line-size) solid var(--line-color);
}

@mixin border-bottom-thick {
  border-bottom: var(--line-size-thick) solid var(--line-color);
}


$break-small: 576px;
$break-large: 1024px;

@mixin respond-to($media) {
  @if $media == handhelds {
    @media only screen and (max-width: $break-small) { @content; }
  }
  @else if $media == medium-screens {
    @media only screen and (min-width: $break-small + 1) and (max-width: $break-large - 1) { @content; }
  }
  @else if $media == wide-screens {
    @media only screen and (min-width: $break-large) { @content; }
  }
}

// # Basic

html {
  font-size: var(--root-size);
  font-family: sans-serif;
  color: black;
}

body {
  @include border-box;
  margin: 0;
}

*, *:before, *:after {
  box-sizing: inherit;
}

a {
  color: inherit;
}

nav {
  background-color: rgba(255, 255, 255, 0.5);
  box-shadow: 0 0 var(--size-s) rgba(0, 0, 0, 0.3);
  ul {
    align-items: center;
    padding: var(--size-m) var(--size-s);
    max-width: var(--max-width);
    margin: 0 auto;
    list-style-type: none;
    display: flex;
    justify-content: space-between;
  }
}

main {
  section {
    padding: var(--size-s);
    max-width: var(--max-width);
    margin: 0 auto;
  }
}

h1 {
  font-size: 2.5rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.5rem;
}

details {
  margin-bottom: var(--size-m);
}

summary {
  font-weight: bold;
}

form {
  margin-bottom: var(--size-m);
}

fieldset {
  @include border;
}

button, select, input, .button {
  @include border;
  //border-radius: var(--size-xs);
  padding: var(--size-xs) var(--size-xs);
  background-color: white;
  transition: box-shadow 0.2s;

  text-decoration: none;

  font-size: 1rem;

  //display: flex;
  align-items: flex-end;

  //&:hover {
  //  @include elevation-low;
  //}

  &.medium {
    font-size: 1.5rem;
    padding: var(--size-xs) var(--size-s);
  }
}

.buttons {
  display: flex;

  button:not(:last-child) {
    margin-right: var(--size-xs);
  }
}

// # Animations

@keyframes blink {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0.3;
  }
}

// # Theme
