@import "icons.scss";
@import "headroom.scss";
@import "sidebar.scss";

// # Variables
:root {
  --root-size: 16px;

  --app-width-main: 800px;
  --app-width-total: 1024px;

  --size-xxs: 0.0625rem;
  --size-xs: 0.25rem;
  --size-s: 1rem;
  --size-m: 2rem;
  --size-l: 4rem;

  --font-s: 0.8rem;
  --font-m: 1rem;
  --font-l: 1.2rem;

  --z-low: 10;
  --z-mid: 50;
  --z-high: 100;

  --max-width: 50rem;

  --line-size: 1px;
  --line-size-thick: var(--size-xs);
  --line-color: black; //rgba(0, 0, 0, 1);

  --color-gray-1: #ddd;
  --color-gray-5: #aaa;
  --color-gray-7: #999;
  --color-gray-9: #333;

  --color-warning-fg: black;
  --color-warning-bg: #ff9800;

  --color-blue: #5ab4bd;
  --color-green: #b5d63d;
  --color-green-9: #2b6300;
}

// # Mixins
@mixin border-box {
  box-sizing: border-box;
}

@mixin elevation-low {
  box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.3);
}

@mixin elevation-mid {
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.3);
}

@mixin elevation-high {
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
}

@mixin border {
  border: var(--line-size) solid var(--line-color);
}
@mixin border-top {
  border-top: var(--line-size) solid var(--line-color);
}

@mixin border-bottom {
  border-bottom: var(--line-size) solid var(--line-color);
}

@mixin border-bottom-thick {
  border-bottom: var(--line-size-thick) solid var(--line-color);
}


$break-small: 576px;
$break-large: 1024px;

@mixin respond-to($media) {
  @if $media == handhelds {
    @media only screen and (max-width: $break-small) { @content; }
  }
  @else if $media == medium-screens {
    @media only screen and (min-width: $break-small + 1) and (max-width: $break-large - 1) { @content; }
  }
  @else if $media == wide-screens {
    @media only screen and (min-width: $break-large) { @content; }
  }
}

// # Basic

html {
  font-size: var(--root-size);
  font-family: sans-serif;
  color: black;
}

body {
  @include border-box;
  margin: 0;
  margin-bottom: 50px;
}

*, *:before, *:after {
  box-sizing: inherit;
}

a {
  color: inherit;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: var(--size-m);
  background-color: white;
  z-index: 1;
}

.container {
  margin: 1.5rem auto;
}

section {
  padding: var(--size-s);
  width: 100%;
  max-width: var(--max-width);
  margin: 0 auto;
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.5rem;
}

h3 {
  font-size: 1.3rem;
}

p {
  line-height: 1.3;
}

details {
  margin-bottom: var(--size-m);
}

summary {
  font-weight: bold;
  cursor: pointer;
}

form {
  margin-bottom: var(--size-m);
}

fieldset {
  @include border;
}

button, select, input, .button {
  @include border;
  border-radius: var(--size-xs);
  padding: var(--size-xs) var(--size-xs);
  color: black;
  background-color: white;
  transition: box-shadow 0.2s;

  text-decoration: none;

  font-size: 1rem;

  //display: flex;
  align-items: flex-end;

  &:hover {
    @include elevation-mid;
  }

  &.medium {
    font-size: 1.5rem;
    padding: var(--size-xs) var(--size-s);
  }
}

button,
.button {
  &:disabled {
    cursor: default;
    opacity: 0.5;
  }
  cursor: pointer;
}

.buttons {
  display: flex;

  .button:not(:last-child),
  button:not(:last-child) {
    margin-right: var(--size-xs);
  }
}

// # Main content
.container {
  display: flex;
  flex-flow: row wrap;
  max-width: var(--app-width-total);
}

.container main {
  flex: 1;
}


// # Animations

@keyframes blink {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0.3;
  }
}

// # Theme
