$mdc-theme-on-primary: #222;

// This adds classes like "mdc-theme--primary-bg".
@import "@material/theme/mdc-theme";
@import "@material/elevation/mixins";
// Main Top App Bar styling.
@import "@smui/top-app-bar/style";


body {
  margin: 0;
}

.mdc-top-app-bar {
  // Give it a shadow.
  @include mdc-elevation(4);
  // Position it above the drawer.
  background: linear-gradient(59deg, rgba(255,0,0,.2) 0%, rgba(255,164,0,.2) 10%, rgba(255,252,0,0.2) 20%, rgba(71,255,0,.2) 30%, rgba(0,255,194,.2) 37%, rgba(27,95,254,.2) 45%, rgba(220,58,213,.2) 55%, rgba(255,0,0,.2) 100%);
  color: $mdc-theme-on-primary;
  z-index: 7;
}
