name: Build

on:
  push

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Cache pnpm modules
        uses: actions/cache@v2
        with:
          path: ~/.pnpm-store
          key: ${{ runner.os }}-${{ hashFiles('**/pnpm-lock.yaml') }}
          restore-keys: |
            ${{ runner.os }}-

      - name: Install
        uses: pnpm/action-setup@v2
        with:
          version: 6
          run_install: true

      - name: Checkout "contracts" submodule
        run: git submodule update --init contracts

      - name: Install and compile contracts
        working-directory: contracts
        run: |
          pnpm install
          pnpm run compile

      - name: Copy contracts
        run: |
          cp -r contracts/typechain/* src/contracts
          cp contracts/deployments/* src/contracts

      - name: Build
        run: pnpm build

      - name: Deploy
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./build