name: Deploy

on:
  push:
    branches:    
      - main
    tags:        
      - v*

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Cache pnpm modules
        uses: actions/cache@v2
        with:
          path: ~/.pnpm-store
          key: ${{ runner.os }}-${{ hashFiles('**/pnpm-lock.yaml') }}
          restore-keys: |
            ${{ runner.os }}-

      - name: Install
        uses: pnpm/action-setup@v2
        with:
          version: 6
          run_install: true

      - name: Checkout "contracts" submodule
        run: git submodule update --init contracts

      - name: Install contracts
        working-directory: contracts
        run: |
          pnpm install

      - name: Compile contracts
        working-directory: contracts
        run: |
          pnpm run compile
          cp -rv typechain ../src/contracts
          cp -rv deployments/* ../src/contracts

      - name: Build
        run: pnpm build

      - name: Add .nojekyll file
        run: touch .nojekyll

      - name: Add staging CNAME
        if: startsWith(github.ref, 'refs/tags/v') != true
        run: |
          echo "dao-staging.teledisko.com" > CNAME

      - name: Add production CNAME
        if: startsWith(github.ref, 'refs/tags/v')
        run: |
          echo "dao.teledisko.com" > CNAME

      - name: Deploy to staging
        if: startsWith(github.ref, 'refs/tags/v') != true
        uses: JamesIves/github-pages-deploy-action@v4.2.3
        with:
          repository-name: TelediskoDAO/dao-staging.teledisko.com
          branch: main
          folder: build
          ssh-key: ${{ secrets.STAGING_DEPLOY_KEY }}

      - name: Deploy to production
        if: startsWith(github.ref, 'refs/tags/v')
        uses: JamesIves/github-pages-deploy-action@v4.2.3
        with:
          repository-name: TelediskoDAO/dao.teledisko.com
          branch: main
          folder: build
          ssh-key: ${{ secrets.PRODUCTION_DEPLOY_KEY }}