name: Deploy teledisko

on:
  push:
    branches:
      - main
    tags:
      - v*

jobs:
  deploy:
    runs-on: ubuntu-latest

    env:
      SMART_CONTRACT_PATH: ./contracts/deployments/networks.json
      HTML_TITLE: teledisko DAO
      HTML_DESCRIPTION: teledisko DAO
      HTML_BASE_URL: https://dao.teledisko.com/
      HTML_IMAGE: https://dao.teledisko.com/images/teledisko/logo-512.png
      HTML_IMAGE_ALT: teledisko DAO logo
      VITE_INFURA_API_KEY: f03f549204b84fb49ab1e3f4bdd243c9
      VITE_SW_DEV_ENABLED: false
      VITE_PROJECT_KEY: teledisko
      VITE_ODOO_ENDPOINT: https://odoo.teledisko.com/jsonrpc
      VITE_ODOO_DB_NAME: teledisko
      VITE_WALLETCONNECT_PROJECT_ID: de8d61ef86c9e54fafa789668d13c83e

    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Cache pnpm modules
        uses: actions/cache@v2
        with:
          path: ~/.pnpm-store
          key: ${{ runner.os }}-${{ hashFiles('**/pnpm-lock.yaml') }}
          restore-keys: |
            ${{ runner.os }}-

      - name: Install
        uses: pnpm/action-setup@v2
        with:
          version: 6
          run_install: true

      - name: Checkout "contracts" submodule
        run: git submodule update --init contracts

      - name: Install contracts
        working-directory: contracts
        run: |
          pnpm install

      - name: Compile contracts
        working-directory: contracts
        run: |
          pnpm run compile
          cp -rv typechain ../src/contracts
          cp -rv deployments/* ../src/contracts

      - name: Build for production
        env:
          VITE_ETHEREUM_ENDPOINT: https://eth.bd.evmos.org:8545
          VITE_ETHEREUM_CHAIN_ID: 9001
          VITE_IPFS_ENDPOINT: https://graph.dao.teledisko.com/ipfs/api/v0
          VITE_GRAPH_PROTOCOL_GQL_ENDPOINT: https://graph.dao.teledisko.com/subgraphs/name/TelediskoDAO/dao
          VITE_LAST_MONTH_REWARDS_ENDPOINT: https://graph.dao.teledisko.com/oracle/resolutions/rewards/last
          VITE_APP_ENV: production
        if: startsWith(github.ref, 'refs/tags/v')
        run: pnpm build:production; echo "dao.teledisko.com" > dist/CNAME

      - name: Build for staging
        env:
          VITE_ETHEREUM_ENDPOINT: https://eth.bd.evmos.dev:8545
          VITE_ETHEREUM_CHAIN_ID: 9000
          VITE_IPFS_ENDPOINT: https://graph.dao-staging.teledisko.com/ipfs/api/v0
          VITE_GRAPH_PROTOCOL_GQL_ENDPOINT: https://graph.dao-staging.teledisko.com/subgraphs/name/TelediskoDAO/dao
          VITE_LAST_MONTH_REWARDS_ENDPOINT: https://graph.dao-staging.teledisko.com/oracle/resolutions/rewards/last
          VITE_APP_ENV: staging
        if: startsWith(github.ref, 'refs/tags/v') != true
        run: pnpm build:staging; echo "dao-staging.teledisko.com" > dist/CNAME

      - name: Add .nojekyll file
        run: touch dist/.nojekyll

      - name: Deploy to staging teledisko
        if: startsWith(github.ref, 'refs/tags/v') != true
        uses: JamesIves/github-pages-deploy-action@v4.2.3
        with:
          repository-name: TelediskoDAO/dao-staging.teledisko.com
          branch: main
          folder: dist
          ssh-key: ${{ secrets.STAGING_DEPLOY_KEY }}

      - name: Deploy to production teledisko
        if: startsWith(github.ref, 'refs/tags/v')
        uses: JamesIves/github-pages-deploy-action@v4.2.3
        with:
          repository-name: TelediskoDAO/dao.teledisko.com
          branch: main
          folder: dist
          ssh-key: ${{ secrets.PRODUCTION_DEPLOY_KEY }}
